<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tests.marvelapi.MarvelApiTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateSeriesAvailable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateComicsAvailable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCopyright</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateHeroId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCharacterName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>statusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
