<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Testes - Marvel API</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MarvelApiTests.setup()[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Marvel API-1@266337387</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:37</td>   <td>420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.statusCode()[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">statusCode</td> 
  <td>TestNG-test=Marvel API-1@266337387</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:37</td>   <td>420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCharacterName(java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateCharacterName</td> 
  <td>TestNG-test=Marvel API-2@920768901</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:39</td>   <td>2835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCharacterName(java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateCharacterName</td> 
  <td>TestNG-test=Marvel API-2@920768901</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:40</td>   <td>3833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCharacterName(java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateCharacterName</td> 
  <td>TestNG-test=Marvel API-2@920768901</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:41</td>   <td>4799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCharacterName(java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateCharacterName</td> 
  <td>TestNG-test=Marvel API-2@920768901</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:37</td>   <td>420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateComicsAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateComicsAvailable</td> 
  <td>TestNG-test=Marvel API-3@438826127</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:39</td>   <td>2824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateComicsAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateComicsAvailable</td> 
  <td>TestNG-test=Marvel API-3@438826127</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:40</td>   <td>3842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateComicsAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateComicsAvailable</td> 
  <td>TestNG-test=Marvel API-3@438826127</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:41</td>   <td>4791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateComicsAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateComicsAvailable</td> 
  <td>TestNG-test=Marvel API-3@438826127</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:37</td>   <td>420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCopyright(java.lang.String, java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateCopyright</td> 
  <td>TestNG-test=Marvel API-4@1106089863</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:39</td>   <td>2824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCopyright(java.lang.String, java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateCopyright</td> 
  <td>TestNG-test=Marvel API-4@1106089863</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:40</td>   <td>3831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCopyright(java.lang.String, java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateCopyright</td> 
  <td>TestNG-test=Marvel API-4@1106089863</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:41</td>   <td>4787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCopyright(java.lang.String, java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateCopyright</td> 
  <td>TestNG-test=Marvel API-4@1106089863</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:37</td>   <td>420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateHeroId(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateHeroId</td> 
  <td>TestNG-test=Marvel API-5@1858455160</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:39</td>   <td>2824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateHeroId(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateHeroId</td> 
  <td>TestNG-test=Marvel API-5@1858455160</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:40</td>   <td>3837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateHeroId(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateHeroId</td> 
  <td>TestNG-test=Marvel API-5@1858455160</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:41</td>   <td>4810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateHeroId(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateHeroId</td> 
  <td>TestNG-test=Marvel API-5@1858455160</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:39</td>   <td>2586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateSeriesAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateSeriesAvailable</td> 
  <td>TestNG-test=Marvel API-1@266337387</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:40</td>   <td>3587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateSeriesAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateSeriesAvailable</td> 
  <td>TestNG-test=Marvel API-1@266337387</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:41</td>   <td>4616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateSeriesAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateSeriesAvailable</td> 
  <td>TestNG-test=Marvel API-1@266337387</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/09/09 11:02:42</td>   <td>5618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateSeriesAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@59f99ea]">validateSeriesAvailable</td> 
  <td>TestNG-test=Marvel API-1@266337387</td>   <td></td> </tr>
</table>
