<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:58:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MarvelApiTests.setup()[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:58:59</td>   <td>422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.statusCode()[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">statusCode</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:03</td>   <td>3912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCharacterName(java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateCharacterName</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:04</td>   <td>5134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCharacterName(java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateCharacterName</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:05</td>   <td>6121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCharacterName(java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateCharacterName</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:06</td>   <td>7084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCharacterName(java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateCharacterName</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:07</td>   <td>8042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateComicsAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateComicsAvailable</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:08</td>   <td>9062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateComicsAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateComicsAvailable</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:09</td>   <td>10045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateComicsAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateComicsAvailable</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:10</td>   <td>11075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateComicsAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateComicsAvailable</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:11</td>   <td>12056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCopyright(java.lang.String, java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateCopyright</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:12</td>   <td>13038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCopyright(java.lang.String, java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateCopyright</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:13</td>   <td>14001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCopyright(java.lang.String, java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateCopyright</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:14</td>   <td>15009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateCopyright(java.lang.String, java.lang.String)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateCopyright</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:15</td>   <td>15974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateHeroId(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateHeroId</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:16</td>   <td>16990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateHeroId(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateHeroId</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:17</td>   <td>17964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateHeroId(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateHeroId</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:18</td>   <td>18974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateHeroId(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateHeroId</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:19</td>   <td>19968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateSeriesAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateSeriesAvailable</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:20</td>   <td>20973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateSeriesAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateSeriesAvailable</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:21</td>   <td>21990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateSeriesAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateSeriesAvailable</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/09 10:59:22</td>   <td>23011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarvelApiTests.validateSeriesAvailable(java.lang.String, int)[pri:0, instance:com.tests.marvelapi.MarvelApiTests@ae45eb6]">validateSeriesAvailable</td> 
  <td>main@1497973285</td>   <td></td> </tr>
</table>
